<div class="panel">
    <form [formGroup]='myForm'>
        <div class="searchPlace">
            <input type="text" placeholder="write text..." formGroupName = 'searchValue'>
            <button (click)="getInfo()" class="buttonClick">Search</button>
        </div>
    </form>
    <div class="infoPanel">
        <div class="box">
            <span>all rows</span>
            {{countAllRows$ | async}}
        </div>
        <div class="box">
            <span>selected rows</span>
            {{countSelectedRows$ | async}}
        </div>
        <button class="buttonClick" (click)="changeMode()">Change mode</button>
    </div>


    <div class="spiner" *ngIf="spinerIsLoading">
        <img src="assets/icons/spiner.gif" alt="">
    </div>
</div>









<ag-grid-angular style="width: 100%; height: 700px;" class="ag-theme-alpine" [gridOptions]="gridOptions"
    [rowData]="rowData" [modules]="modules" [columnDefs]="dataService.columnDefs" rowSelection='multiple'
    (rowSelected)="rowSelected()" [getContextMenuItems]="getContextMenuItems">
</ag-grid-angular>